{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

{{! The big featured header on the homepage, with the site logo and description }}

{{! The main content area on the homepage }}
<main class="content" role="main">
<article class="post page">




<!--
        <h1 class="post-title">Oliver Schneider: Haptic Computing</h1>

        <br>
-->

        <section class="post-content" id="jetzt-container">
            <!--![img](/content/images/2015/12/IMG_2903.jpg)-->

<p>I am a <strong>Postdoctoral Scholar</strong> at the <a href="http://hpi.de/">Hasso Plattner Institute</a> working with <a href="http://www.patrickbaudisch.com">Patrick Baudisch</a>. I completed my PhD in Computer Science at the <a href="http://www.cs.ubc.ca">University of British Columbia</a>, where I worked with <a href="http://www.cs.ubc.ca/~maclean/">Karon MacLean</a>. During my PhD, I worked with <a href="https://www.disneyresearch.com/">Disney Research</a>, first as an intern and then as a consultant.</p>

<p>I research <strong>Human-Computer Interaction</strong>, specifically, <strong>Haptic Computing</strong>. Haptic technology engages the sense of touch by providing physical feedback to users. I argue that the limiting factor for haptic technology is the lack of computing tools – systems that enable the <strong>creation, deployment, and large-scale study of haptic feedback</strong>. Without these tools, haptic technology will be limited to small, in-lab studies and slow deployment into commercial applications. My long-term goal is a suite of haptic computing tools to assist the creation, deployment, and study of haptic technology.</p>

<!--
<p>My main research interests are:</p>

<ul>
<li><strong>Haptics and multimodal interfaces.</strong> Humans live in a rich world with many senses, yet technology barely engages beyond screens. I believe touch-based feedback &amp; physical user interfaces are critical to improving our relationship with the digital world.</li>
<li><strong>Creativity-support tools.</strong> Creative processes, like the design of new experiences in VR and AR, are a challenging example of humans working with a computer.</li>
<li><strong>Software engineering of new media.</strong> Novel data structures, software architectures, and programming languages are essential to developing haptic and multimodal computing.</li>
</ul>

<p>I also maintain interest in related areas, including STEM and computer science education, persuasive technology, affective computing, and usable security and privacy.</p>
-->
        </section>


    </article>
<!--
    <article class="post page">
        <h1 class="post-title">Projects</h1>
    </article>
-->


    {{! Each post will be output using this markup }}
	{{#foreach posts}}
    <article class="{{post_class}}">
        <header class="post-header">
        <!--
            <span class="post-meta"><time datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMM YYYY"}}</time> {{#if tags}}on {{tags}}{{/if}}
			| <a href="{{url}}#disqus_thread">Comments<a>
			</span> -->
            <h2 class="post-title"><a href="{{url}}">{{{title}}}</a></h2>
        </header>
		{{#if image}}
			<div class="post-thumbnail">
	            <a href="{{url}}"><img src={{image}} /></a>
	        </div>
		{{/if}}
        <section class="post-excerpt">
            <p>{{excerpt}}&hellip;</p>
        </section>
    </article>

    {{/foreach}}

    {{!! After all the posts, we have the previous/next pagination links }}
    {{pagination}}

	<footer class="site-footer">
        <div class="inner">
             <section class="copyright">All content copyright <a href="/">{{@blog.title}}</a> &copy; 2013 &bull; All rights reserved.</section>
             <section class="poweredby">Proudly published with <a class="icon-ghost" href="http://ghost.org">Ghost</a></section>
        </div>
    </footer>

	 <script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = '[your shortname]'; // required: replace example with your forum shortname

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = '//' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
    </script>
</main>
